@model Models.Framework.DOCGIA

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DOCGIA</legend>

        @Html.HiddenFor(model => model.MaDocGia)

        <label>Họ Tên SV</label>
        <div class="form-group">
            @Html.EditorFor(model => model.HoTen)
            @Html.ValidationMessageFor(model => model.HoTen)
        </div>

        <label>Ngày Sinh</label>
        <div class="form-group">
            @Html.EditorFor(model => model.NgaySinh)
            @Html.ValidationMessageFor(model => model.NgaySinh)
        </div>

        <label>Mã Khoa</label>
        <div class="form-group">
            @Html.EditorFor(model => model.MaKhoa)
            @Html.ValidationMessageFor(model => model.MaKhoa)
        </div>

        <label>Chức vụ</label>
        <div class="form-group">
            @Html.EditorFor(model => model.ChucVu)
            @Html.ValidationMessageFor(model => model.ChucVu)
        </div>

        <label>Địa Chỉ</label>
        <div class="form-group">
            @Html.EditorFor(model => model.DiaChi)
            @Html.ValidationMessageFor(model => model.DiaChi)
        </div>

        <label>Mật Khẩu</label>
        <div class="form-group">
            @Html.EditorFor(model => model.MatKhau)
            @Html.ValidationMessageFor(model => model.MatKhau)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


