@model List<Models.ViewModel.MUONTRAViewModel>
@{
    ViewBag.Title = "Borrow";
    Layout = "~/Areas/User/Views/Shared/User_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-head-line">Danh mục Đồ án đang mượn</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--   Kitchen Sink -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Kitchen Sink
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>MaPM</th>
                                    <th>MaDA</th>
                                    <th>Tên DA</th>
                                    <th>Ngày Mượn</th>
                                    <th>Hạn trả</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var item in Model)
                                {
                                    <tr>
                                        <td>@item.MaPhieu</td>
                                        <td>@item.MaDoAn</td>
                                        <td>@item.DA_TenDoAn</td>
                                        <td>@item.NgayMuon.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@item.HanTra.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@item.TrangThai</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- End  Kitchen Sink -->
        </div>
    </div>
</div>
