@model Models.Framework.DOAN

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Thêm mới Đồ Án</legend>

        <label>Tên Đồ án</label>
        <div class="form-group">
            @Html.TextAreaFor(model => model.TenDoAn)
            @Html.ValidationMessageFor(model => model.TenDoAn)
        </div>

        <label>Số Trang</label>
        <div class="form-group">
            @Html.EditorFor(model => model.SoTrang)
            @Html.ValidationMessageFor(model => model.SoTrang)
        </div>

        <label>Ngày Bảo Vệ</label>
        <div class="form-group">
            @Html.EditorFor(model => model.NgayBaoVe)
            @Html.ValidationMessageFor(model => model.NgayBaoVe)
        </div>

        <label>Mã Loại</label>
        <div class="form-group">
            @Html.DropDownListFor(model => model.MaLoai, new List<SelectListItem>()
       {
           new SelectListItem(){Selected = true,Text ="Công nghệ phần mềm",Value = "CNPM"},
           new SelectListItem(){Selected = false,Text ="Mạng truyền thông",Value = "MTT"},
           new SelectListItem(){Selected = false, Text ="Hệ thống nhúng", Value = "HTN"}
       })
            @Html.ValidationMessageFor(model => model.MaLoai)
        </div>

        <label>Sinh Viên Thực Hiện</label>
        <div class="form-group">
            @Html.EditorFor(model => model.SinhVienTH)
            @Html.ValidationMessageFor(model => model.SinhVienTH)
        </div>

        <label>Giảng Viên Hướng Dẫn</label>
        <div class="form-group">
            @Html.EditorFor(model => model.GiangVienHD)
            @Html.ValidationMessageFor(model => model.GiangVienHD)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
